<template name="pagination">

  <div class="container-fluid container-pagination">

    <div class="container">

      <div class="row">

        <div class="col-md-12 no-padding">

          <!-- Start pagination list -->
          <ul class="pager">

              <li class="previous">

                <a href="{{backUrl}}" title="Click to go back"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> {{_ 'pagination.back'}}</a>

              </li>

          </ul><!-- //Pagination list -->

        </div>

      </div>

    </div>

  </div>

</template>
