/**
Spacing

Assign margin or padding to an element or a subset of its sides with shorthand classes. Includes support for individual
properties, all properties, and vertical and horizontal properties. All classes are multiples on the global default
value, 1rem. The classes are named using the format: {property}{sides}-{size}

Where property is one of:

m - for classes that set margin
p - for classes that set padding
Where sides is one of:

t - for classes that set margin-top or padding-top
b - for classes that set margin-bottom or padding-bottom
l - for classes that set margin-left or padding-left
r - for classes that set margin-right or padding-right
x - for classes that set both *-left and *-right
y - for classes that set both *-top and *-bottom
a - for classes that set a margin or padding on all 4 sides of the element
                                                      Where size is one of:

0 - for classes that eliminate the margin or padding by setting it to 0
1 - (by default) for classes that set the margin or padding to $spacer-x or $spacer-y
2 - (by default) for classes that set the margin or padding to $spacer-x * 1.5 or $spacer-y * 1.5
3 - (by default) for classes that set the margin or padding to $spacer-x * 3 or $spacer-y * 3
*/

.u-my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.u-pb-3 {
  padding-bottom: 5em;
}

.spacer-margin-qa{
  margin-bottom: 2.5em;
  margin-top: 0.5em;
}

.no-margin-mobile{
  @media only screen and (max-width : 767px) {
    margin: 0;
  }
}
